<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/cert.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
          This certifies that <%= name %><br />
          has completed a certification in <%= certificate %><br />
          on <%= date %>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>