<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h3>Search by Name</h3>
      <form id="userSearch" method="POST" action="/items">
        Last Name: <input type="text" name="lastName">
        <input type="submit">
      </form>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>