<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron"><%for (let i=0; i<users.length; i++) {%>
      <li><%=users[i].name%></li>
      <%}%>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>