<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Users</h1>
      <%for (let i=0; i<users.length; i++) {%>

      <li><a href=<%="/items/" + users[i].netid%>><%= users[i].lastName + ", " + users[i].firstName %></a></li>
      <%}%>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>