<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron"><%for (let i=0; i<users.length; i++) {%>

      <li><a href=<%="items/item/" + users[i].netid%>><%= users[i].lastName + ", " + users[i].firstName %></a><br />
        <% for(let cert of users[i].certificates) { %>
        <li style="margin-left: 25px;"><%= cert.certificate %></li>
        <% } %>
      </li>
      <%}%>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>